@layout MainLayout
@inherits LayoutComponentBase


<Card>
    <CardHeader>
        <h3> 💻  Client List</h3>
        <p>
         <small> The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web application or a JS-based application.  </small>
        </p>
    </CardHeader>
    <CardBody>
      @Body
    </CardBody>
</Card>