@using EasyAbp.IdentityServerAdmin.Clients.Dtos

<EditForm Model="ClaimList">
    <Card>
        <CardBody>
            @foreach (var property in ClaimList)
            {
                <Card Class="mb-2">
                    <CardBody>
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="form-group row">
                                    <label class="col-sm-2">Key</label>
                                    <div class="col-sm-10">
                                        <TextEdit @bind-Text="property.Type"></TextEdit>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group row">
                                    <label class="col-sm-2">Value</label>
                                    <div class="col-sm-10">
                                        <TextEdit @bind-Text="property.Value"></TextEdit>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </CardBody>
                    <CardFooter>
                        <Button
                                Color="Color.Danger"
                                Clicked="()=> {
                                                ClaimList.Remove(property);
                                                ClaimListChanged.InvokeAsync(ClaimList);
                                            }">
                            Delete
                        </Button>
                    </CardFooter>
                </Card>
            }
        </CardBody>
        <CardFooter>
            <Button Color="Color.Primary"

                    Clicked="()=> {
                                 ClaimList.Add(new ClientClaimDto());
                                 ClaimListChanged.InvokeAsync(ClaimList);
                             }">
                New Property
            </Button>
        </CardFooter>
    </Card>
</EditForm>






@code {


    [Parameter]
    public List<ClientClaimDto> ClaimList { get; set; } = new List<ClientClaimDto>();

    [Parameter]
    public EventCallback<List<ClientClaimDto>> ClaimListChanged { get; set; }

}
