@layout MainLayout
@inherits LayoutComponentBase
<Card>
      <CardHeader>
        <h3> ☁️ Protected Resources </h3>
        <p>
            <small>
                 Resources are something you want to protect with IdentityServer – either APIs (by doing this your data will be protected as well). So to access your database content must be through an API.
            </small>
        </p>
    </CardHeader>
    <CardBody>
        @Body
    </CardBody>
</Card>