@layout MainLayout
@inherits LayoutComponentBase


<Card>
  <CardHeader>
      <h3> 🔖 Identity Resources </h3>
      <p>
          <small>Identity resources are data like user ID, name, or email address of a user. An identity resource has a unique name, and you can assign arbitrary claim types to it. These claims will then be included in the identity token for the user..</small>
      </p>
  </CardHeader>
  <CardBody>
    @Body
  </CardBody>
</Card>