@layout MainLayout
@inherits LayoutComponentBase


<Card>
    <CardHeader>
        <h3> 🔑 Persisted Grants </h3>
        <p>
            <small>Persisted Grants</small>
        </p>
    </CardHeader>
    <CardBody>
        @Body
    </CardBody>
</Card>